{% extends 'base.html' %}

{%block content%}
{% if alert%}
    {{alert}}
{%endif%}
<form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" name="Upload" />
</form>  

{% if img%}
    <center>
        <figure>
            <img src="{{ img }}" width="400" height="300">
            {% if label %}
                <figcaption>{{ label }}</figcaption>
            {% endif %}
        </figure>
    </center>
{%endif%}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <h2>{{ messages[0] }}</h2>
    <!-- <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul> -->
  {% endif %}
{% endwith %}

{%endblock%}