{% extends 'base.html' %}

{% block content %}

<h1> Задание </h1>

<ol>
    <li> Создай в <tt>templates</tt> html-файл с формой для ввода prompt'а модели генерации текста </li>
    <li> Укажи ссылку на эту страницу в файле <tt>base.html</tt> в пункте Text Generation</li>
    <li> Создай обработчик перехода на эту страничку в файле <tt>app.py</tt> </li>
    <li> Модифицируй <tt>model_init.py</tt>: добавь функцию загрузки модели генерации текста </li>
    <li>Создай файл <tt>generate_text.py</tt>, в котором будет обрабатываться prompt для модели и возвращаться ответ </li>
    <li> Создай обработчик <tt>generate</tt> в файле <tt>app.py</tt>, который будет принимать текст из формы и генерировать страничку с ответом модели на введенный prompt</li>
    <li>Создай два поля в форме: в одном пользователь может указывать, сколько ответов должна генерировать модель, в другом – длину ответной последовательности модели</li>
</ol>

Проверяй работоспособность сервиса после каждого изменения: так легче будет исправить ошшибки. В конце дня загрузи решение на github. 

{% endblock %}